/* ===================== BASE ===================== */
body {
  margin: 0;
  background: black;
  color: #9baebe;
  font-family: 'Times New Roman', Times, serif;
  overflow-x: hidden;
}

section {
  position: relative;
  height: 100vh;
}

/* ===================== HERO ===================== */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

#welcome {
  font-size: 4vw;
  text-align: center;
  margin: 20px 0;
  z-index: 3;
  transition: transform 0.2s, opacity 0.2s;
}

#heroImg {
  width: 40vw;
  max-width: 400px;
  height: auto;
  z-index: 2;
  transition: transform 0.2s, opacity 0.2s;
}

#opor {
  font-size: 25vw;
  max-font-size: 350px;
  text-align: center;
  margin: 20px 0;
  z-index: 1;
  transition: transform 0.2s, opacity 0.2s;
}

#buttonImg {
  position: absolute;
  top: 700px;                 /* distance from top of container */
  left: 50%;                   
  transform: translateX(-50%); /* horizontally centered */
  width: 40vw;
  max-width: 400px;
  height: auto;               /* keeps original aspect ratio */
  z-index: 2;
  transition: transform 0.2s, opacity 0.2s;


/* ===================== SECOND PAGE ===================== */
#second {
  background: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  color: #9baebe;
}
